body {
  background-color: #090088;
  color: white;
}

img {
  display: block;
  width:20%;
  float:right;
  padding:8px;
}

.sidebar{
  float: left;
  width:10%;
  margin: 12px;
  background-color: #930077;
  padding: 8px;
  border: 2px solid yellow;
}

.columns{
  float: left;
  width:20%;
  background-color: #e4007c;
}
